body {
    margin:0;
    background-color: rgb(247, 246, 245);
    width:100%;
    max-width:600px;
    font-family: Helvetica Neue, Arial, sans-serif;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border:0;
}
.wrapper {
    width:100%;
    max-width:600px;
    table-layout:fixed;
    background-color: white;
    padding-bottom: 40px;
}
.main {
    background-color: white;
    margin: 0 auto;
    width:100%;
    max-width:600px;
    border-spacing: 0;
    color:white;
}
.first-banner {
    position:relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
}
.first-banner img {
    vertical-align: bottom;
}
.second-banner {
    position:relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
}
.second-banner img {
    vertical-align: bottom;
}
.third-banner {
    position:relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
}
.third-banner img {
    vertical-align: bottom;
}

@media screen and (max-width:600px) {
    .main {
        max-width: 300px;
    }
}